<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="gctraveltools.jsj.com.cn.zhihuribao">

    <application>
        <activity android:name=".ZHMainActivity"/>
        <activity android:name=".ZHNewsDetailActivity"/>


        <activity android:name="gctraveltools.jsj.com.cn.demomodule.suspendhead.SuspendActivity">
        </activity>
        <activity android:name="gctraveltools.jsj.com.cn.demomodule.calendar.PictureActivity">
        </activity>
        <activity android:name="gctraveltools.jsj.com.cn.demomodule.fangdajing.MagnifyingGlassActivity">
        </activity>
    </application>

</manifest>